<section class="header-actions">
    <nav>
        <ul>
            <li class="desktop-navigation">
                <a href="#">
                    <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" width="20" height="20" stroke-width="1.5" aria-hidden="true"><path d="M7.79297 12.9664V5.56748L21.2162 5.5675V13.0649L7.79297 13.0649V12.9664ZM7.79297 12.9664V17.9903M7.79297 8.57318L2.78662 8.57321V17.9903H16.2148V12.9664M21.2162 12.9664V18.7783" stroke="currentColor"></path></svg>
                </a>
            </li>
            <li class="desktop-navigation">
                <a href="#">
                    <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" width="20" height="20" stroke-width="1.5" aria-hidden="true" data-rtl-behavior="mirror" style="transform:scale(var(--vp-icon-rtl-scale, 1), 1)"><path d="M11.6 14.7C11.6 14.2 11.7 13.7 12.1 13.3C12.6 12.7 13.3 12.5 13.8 12C14.3 11.5 14.6 10.8 14.6 10.2C14.6 8.79999 13.4 7.59999 12 7.59999C10.6 7.59999 9.50005 8.69999 9.40005 9.99999C9.40005 10.1 9.40005 10.4 9.40005 10.4M21.2001 12C21.2001 17.081 17.0811 21.2 12 21.2C6.91903 21.2 2.80005 17.081 2.80005 12C2.80005 6.91897 6.91903 2.79999 12 2.79999C17.0811 2.79999 21.2001 6.91897 21.2001 12Z" stroke="currentColor"></path><path d="M11.6001 17.5C12.0971 17.5 12.5001 17.0971 12.5001 16.6C12.5001 16.103 12.0971 15.7 11.6001 15.7C11.103 15.7 10.7001 16.103 10.7001 16.6C10.7001 17.0971 11.103 17.5 11.6001 17.5Z" fill="currentColor"></path></svg>
                </a>
            </li>
            <li>
                <a href="#">
                    <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" width="20" height="20" stroke-width="1.5" aria-hidden="true"><path d="M5 22C5 16.1 8.1 12.3 12 12.2C15.9 12.1 19 16 19 21.9M12 2.79999C10.1 2.79999 8.5 4.39999 8.5 6.29999C8.5 8.19999 10.1 9.79999 12 9.79999C13.9 9.79999 15.5 8.19999 15.5 6.29999C15.5 4.39999 13.9 2.79999 12 2.79999Z" stroke="currentColor"></path></svg>
                </a>
            </li>
            <li>
                <a href="#">
                    <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" width="20" height="20" stroke-width="1.5" aria-hidden="true"><path d="M8.20002 8.49999C8.20002 4.99999 9.90002 2.79999 12 2.79999C14.1 2.79999 15.8 5.09999 15.8 8.49999M5.00002 20.5C5.10002 21 5.50002 21.3 6.00002 21.3H18C18.5 21.3 18.9 21 19 20.5L21.1 10.8H2.90002L5.00002 20.5Z" stroke="currentColor"></path></svg>
                </a>
            </li>
        </ul>
    </nav>
</section>