<section class="header-logo">
  <a href="https://www.decathlon.nl/">
    <svg width="150" height="24" viewBox="0 0 160 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g clip-path="url(#clip0_7_18)">
      <path d="M49.2858 20.4H60.5573V16.752H53.5752V13.692H59.7591V10.296H53.5752V7.236H60.5573V3.6H49.2858V20.4ZM74.5454 13.164C72.913 15.78 71.3283 16.872 69.2909 16.872C66.6458 16.872 65.1088 15 65.1088 11.748C65.1088 8.664 66.5266 7.128 68.7072 7.128C70.1488 7.128 71.3403 7.776 71.7097 9.936H75.9991C75.5343 5.82 72.925 3.264 68.7547 3.264C63.9173 3.264 60.736 6.70799 60.736 11.988C60.736 17.304 63.9173 20.736 69.1479 20.736C72.5676 20.736 74.8909 19.296 76.4279 17.352H82.2781V20.4H86.5438V3.6H80.491L74.5454 13.164ZM82.2781 13.98H78.5011L82.2781 7.8V13.98ZM40.1352 3.6H33.8679V20.4H40.1352C45.1037 20.4 48.3088 17.1 48.3088 12C48.3088 6.9 45.1037 3.6 40.1352 3.6ZM40.0756 16.752H38.1573V7.236H40.0756C42.5539 7.236 43.9479 9 43.9479 12C43.9479 14.988 42.5539 16.752 40.0756 16.752ZM135.776 3.264C130.736 3.264 127.352 6.708 127.352 12C127.352 17.292 130.736 20.736 135.776 20.736C140.828 20.736 144.2 17.292 144.2 12C144.2 6.70801 140.828 3.264 135.776 3.264ZM135.776 16.872C133.298 16.872 131.737 15.204 131.737 12C131.737 8.796 133.298 7.128 135.776 7.128C138.266 7.128 139.815 8.796 139.815 12C139.815 15.204 138.266 16.872 135.776 16.872ZM87.6162 7.236H91.8221V20.4H96.1115V7.236H100.317V3.6H87.6162V7.236ZM155.15 3.6V12.852L149.621 3.6H145.177V20.4H149.323V10.764L155.078 20.4H159.296V3.6H155.15ZM121.276 3.6H116.986V20.4H127.746V16.764H121.276V3.6ZM111.458 10.008H105.679V3.6H101.39V20.4H105.679V13.632H111.458V20.4H115.747V3.6H111.458V10.008Z" fill="#3643BA"/>
      <path d="M21.7626 0C12.4483 0 0.862206 9.70594 0.862206 17.7501C0.862206 21.9046 4.03074 24 8.2156 24C11.2885 24 15.0071 22.8681 18.594 20.6884V4.63623C17.6375 6.28599 13.1418 12.9333 9.53081 16.4737C7.68952 18.2799 6.23079 19.0627 4.97534 19.0627C3.56444 19.0627 2.89486 18.0993 2.89486 16.6664C2.89486 10.1636 13.7636 1.70998 20.9615 1.70998C23.9268 1.70998 25.8398 3.03462 25.8398 5.61165C25.8398 7.9719 24.2496 10.9342 21.5354 13.6678V18.6412C26.2703 14.872 29.104 10.0672 29.104 6.18966C29.104 2.10737 25.9475 0 21.7626 0Z" fill="#3643BA"/>
      </g>
      <defs>
      <clipPath id="clip0_7_18">
      <rect width="160" height="24" fill="white"/>
      </clipPath>
      </defs>
    </svg>
  </a>
</section>
