<a class="menu-button" href="#menu" id="menuOpen" >
  <svg width="20" height="20" viewBox="0 0 28 26" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 1.5H28M0 13.2805H28M0 24.5H28" stroke="black" stroke-width="3"/>
  </svg>
</a>
