<form>
  <input type="search" placeholder="Search" name="search">
  <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
    <title>search-logo</title>
    <path d="M19.3499 19.45L15.45 15.55M15.7499 8.24999C15.7499 12.35 12.35 15.75 8.24995 15.75C4.15 15.75 0.75 12.35 0.75 8.24999C0.75 4.15 4.15 0.75 8.24995 0.75C12.35 0.75 15.7499 4.15 15.7499 8.24999Z" stroke="#616161" stroke-width="1.5"/>
  </svg>
</form>
