:root {
  /* Background colors */
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #FAFAFA;

  /* Container colors */
  --container-quiet: #f5f4f5;
  --primary-link-color: #3643ba;
  --primary-link-color-hover: #313daa;
  --primary-link-color-active: #262f82;
  --container-catchy: #1a1919;
  --container-overlay: #10101099;

  --spacing-0: 0px;
  --spacing-100: 8px;
  --spacing-150: 12px;
  --spacing-200: 16px;
  --spacing-250: 20px;
  --spacing-300: 24px;
  --spacing-400: 32px;
  --spacing-500: 40px;
  --spacing-600: 48px;
  --spacing-650: 64px;
  --spacing-700: 80px;
  --spacing-800: 96px;
  --spacing-850: 128px;
  --spacing-900: 160px;

  --font-weight-100: 100;
  --font-weight-200: 200;
  --font-weight-300: 300;
  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-600: 600;
  --font-weight-700: 700;
  --font-weight-800: 800;
  --font-weight-900: 900;
  --font-weight-950: 950;

  --border-radius-0: 0px;
  --border-radius-100: 4px;
  --border-radius-200: 8px;
  --border-radius-300: 12px;
  --border-radius-400: 16px;
  --border-radius-500: 20px;
  --border-radius-600: 28px;
  --border-radius-full: 999px;

  --primary-footer-bg-color: #3643ba;
}

@font-face {
  font-family: "Decathlon";
  src: url("/assets/Decathlon-VF.19016feb.woff2") format("woff2");
}
